<!--
EJS Webpage template for the About Us page for Nostalgia Games
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">
	
    <title> About Us </title>
	
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css"  type="text/css">
	
	<!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
	
	
	<!-- Custom Fonts -->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css"  type="text/css">
    <link rel="stylesheet" href="fonts/font-slider.css" type="text/css">
	
	<!-- jQuery and Modernizr-->
	<script src="js/jquery-2.1.1.js"></script>
	
	<!-- Core JavaScript Files -->  	 
    <script src="js/bootstrap.min.js"></script>
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body style="background-color:midnightblue;">
    <!-- Header -->
    <header class="container">
        <div class="row">
            <div class="col-md-4">
                <!-- insert logo here-->
                <a href="category">
                    <div id="logo"><img src="images/new-logo2.png" width="300" heigth="200"/>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <div class="heading"><h1 style = "color:red;"> About Us / Contact Us </h1>
                </div>
            </div>
        </div>
    </header>

    <!-- Body -->
    <div id="page-content" class="single-page">
        <div clas="container">
            <div class="row">
                <p style = "font-family:georgia,garamond,serif;font-size:120%;color:fuchsia;text-align:center;">
                    <b>About Us</b>
                </p>
                <div class="col-md-6">
                    <p style = "font-style:italic;color:thistle">
                        Welcome to Nostalgia Games, a collection of fun and reminiscent games from as early as the 1st century B.C.! Employ decades old strategies and quick decisions to win. Add friends and compete to get high scores across various games, to see who is truly the master of strategy!
                    </p>
                </div> 
            </div>
            <div class="row">
                <p style = "font-family:georgia,garamond,serif;font-size:120%;color:springgreen;text-align:center">
                    <b>Developers</b>
                </p>
                <div class="col-md-6">
                    <p style = "font-style:italic;color:aquamarine;">
                        Meet the developers:
                    </p>
                    <ul style="font-style:italic;color:aquamarine;">
                        <li>Neelotpal Katuri</li>
                        <li>Weiyao Tang</li>
                        <li>Aashay Choksi</li>
                        <li>Alex Thompson</li>
                        <li>Zaki Kidane</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <p style = "font-family:georgia,garamond,serif;font-size:120%;color:yellow;text-align:center">
                    <b>Contact Us</b>
                </p>
                <div class="col-md-6">
                    <ul style="font-style:italic;color:lemonchiffon;">
                        <li>Found a bug?</li>
                        <li>New Game Suggestion!</li>
                        <li>General Feedback</li>
                        <li>Account Troubles</li>
                        <li>Literally any other reason</li>
                    </ul>
                    <p style = "font-style:italic;color:lemonchiffon;">
                        Feel free to contact us at-
                    </p>
                    <p style = "color:lemonchiffon;">
                        support@nostalgiagames.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>